@page "/manage/reply"
@using BlazorCommunity.Admin.QueryCondition
@using BlazorCommunity.DTO.Admin;
@inherits ReplyManageBase

<ElForm Inline="true" @ref="searchForm">
    <ElFormItem TValue="string" Label="дЄїиііж†ЗйҐШ" Prop="@nameof(QueryReplyCondition.Title)" Required="false">
        <ElInput Clearable="true" TValue="string"></ElInput>
    </ElFormItem>
    <ElFormItem TValue="string" Label="еЫЮеЄЦзФ®жИЈ" Prop="@nameof(QueryReplyCondition.UserName)" Required="false">
        <ElInput Clearable="true" TValue="string"></ElInput>
    </ElFormItem>
    <ElFormItem TValue="DelStatus?" Label="зКґжА? Prop="@nameof(QueryReplyCondition.Status)" Required="false">
        <div style="width:100px;"><ElSelect TValue="DelStatus?" Value="DelStatus.Normal"></ElSelect></div>
    </ElFormItem>
    <ElFormItem TValue="DateTime?" Label="еЫЮе§НжЧґйЧі" Required="false" Prop="@nameof(QueryReplyCondition.CreateDateStart)">
        <ElDatePicker Clearable="true"></ElDatePicker>
    </ElFormItem>
    <ElFormItem TValue="DateTime?" Label="иЗ? Required="false" Prop="@nameof(QueryReplyCondition.CreateDateEnd)">
        <ElDatePicker Clearable="true"></ElDatePicker>
    </ElFormItem>
    <ElFormActionItem>
        <ElButton Type="@ButtonType.Primary" Plain="true" OnClick="e=>SearchData()">жРЬзіҐ</ElButton>
    </ElFormActionItem>
</ElForm>

<div class="el-divider el-divider--horizontal" style="margin: 5px 0;"><!----></div>

<ElTable DataSource="Datas" Total="DataCount" @bind-CurrentPage="CurrentPage" PageSize="pageSize" @ref="table" HasSelectionColumn="false" IsStripe="true" AutoGenerateColumns="false">
    <ElTableColumns>
        <ElTableColumn Width="300" Property="@nameof(ReplyDisplayDto.Title)" Text="дЄїиііж†ЗйҐШ" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(ReplyDisplayDto.Author)" Text="еПСеЄЦдЇ? Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(ReplyDisplayDto.NickName)" Text="еЫЮеЄЦдЇ? Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(ReplyDisplayDto.Content)" Text="еЫЮе§НеЖЕеЃє">
            <ElButton Type="@ButtonType.Text" OnClick="e=>Detail(context)">жЯ•зЬЛиѓ¶жГЕ</ElButton>
        </ElTableColumn>
        <ElTableColumn Width="50" Property="@nameof(ReplyDisplayDto.StatusDisplay)" Text="зКґжА? Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(ReplyDisplayDto.CreateDate)" Format="yyyy-MM-dd" Text="еПСи°®жЧґйЧі" Style="text-align:center;"></ElTableColumn>
        <ElTableTemplateColumn Text="жУНдљЬ" Width="150">
            @{

                var reply = (ReplyDisplayDto)context;
                if (reply.Status == 0)
                {
                    <ElButton Type="@ButtonType.Danger" Size="@ButtonSize.Small" Plain="true" OnClick="@(e=> Delete(context))">еИ†йЩ§</ElButton>
                }
                else
                {
                    <ElButton Type="@ButtonType.Success" Size="@ButtonSize.Small" Plain="true" OnClick="@(e=> Resume(context))">жБҐе§Н</ElButton>
                }
            }
        </ElTableTemplateColumn>
    </ElTableColumns>
</ElTable>