@page "/account/forget"
@using Blazui.Community.App.Model.ViewModel
@inherits ForgetPasswordBase

<div class="el-center-500">

    @*<BTab EnableAlwaysRender="true">
        <BTabPanel Title="邮箱验证" Style="color:#fff;">*@
            <BCard EnableAlwaysRender="true">
                <Header>
                    <HeaderWithBack Title="验证邮箱" Route="@PreviousRoute"></HeaderWithBack>
                </Header>
                <Body>
                    <BForm @ref="form" LabelAlign="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true" Style="max-width: 600px; min-width: 400px; margin: 20px auto;text-align: center;">
                        <BFormItem TValue="string" Label="邮箱：" Name="@nameof(ForgetPasswordModel.Email)" IsRequired="true" EnableAlwaysRender="true">
                            <div class="content-flex-row">
                                <BInput TValue="string"  Type="@InputType.Text" Placeholder="请输入您绑定的邮箱" Style="width:300px;"IsDisabled="btnSendIsDisabled" EnableAlwaysRender="true"></BInput>
                                <BButton  Style="margin-left:20px;"   Type="ButtonType.Default" IsPlain="true" OnClick="e => SendEmail()" IsDisabled="btnSendIsDisabled" EnableAlwaysRender="true">@BtnText</BButton>
                            </div>
                        </BFormItem>
                        <BFormItem TValue="string" Label="验证码：" Name="@nameof(ForgetPasswordModel.VerCode)" IsRequired="false">
                            <div class="content-flex-row">
                                <BInput TValue="string" Type="@InputType.Text" Placeholder="请输入验证码" Style="width:300px;"></BInput>
                                <BButton  Style=" margin-left: 20px;" Type="ButtonType.Default" IsPlain="true" OnClick="e=>CheckAndNavigatToReset()">确定</BButton>
                            </div>
                        </BFormItem>
                    </BForm>
                </Body>
            </BCard>
        @*</BTabPanel>
    </BTab>*@
</div>