@page "/account/reset/{UserId}"
@inherits ResetPasswordBase
@using Blazui.Community.App.Model.ViewModel

<div class="el-center-500">

    @*<BTab EnableAlwaysRender="true">
        <BTabPanel Title="邮箱验证" Style="color:#fff;">*@
    <BCard EnableAlwaysRender="true">
        <Header>
            <HeaderWithBack Title="设置新密码" Route="@PreviousRoute"></HeaderWithBack>
        </Header>
        <Body>
            <BForm @ref="form" LabelAlign="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true" Style="width: 400px; margin: 20px auto;text-align: center;">
                <BFormItem TValue="string" Label="密码：" Name="@nameof(ResetPasswordModel.Password)" IsRequired="true">
                    <BInput TValue="string" Type="@InputType.Password" Placeholder="请输入新密码" Style="width:300px;"></BInput>
                </BFormItem>
                <BFormItem TValue="string" Label="确认密码：" Name="@nameof(ResetPasswordModel.ComfrimPassword)" IsRequired="true">
                    <BInput TValue="string" Type="@InputType.Password" Placeholder="请再次输入新密码" Style="width:300px;"></BInput>
                </BFormItem>
                <BFormActionItem Style="text-align:center;">
                    <BButton Type="ButtonType.Default" OnClick="e=>ResetPassword()" IsPlain="true" Style="width:300px;margin-left: 100px;">确定</BButton>
                </BFormActionItem>
            </BForm>
        </Body>
    </BCard>
    @*</BTabPanel>
        </BTab>*@
</div>