@page "/account/signin"
@inherits SignInBase

<div class="login-container">

    <BForm Value="signInModel" @ref="signInForm">
        <div class="title-container">
            <h3 class="title">
                Blazui社区登录
            </h3>
        </div>
        <BFormItem IsRequired="true" TValue="string" RequiredMessage="请输入账号" Name="@nameof(SignInModel.userAccount)">
            <BInput PrefixIcon="el-icon-user-solid" TValue="string" Placeholder="请输入账号"></BInput>
        </BFormItem>
        <BFormItem IsRequired="true" TValue="string" RequiredMessage="请输入密码" Name="@nameof(SignInModel.Password)">
            <BInput PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" TValue="string" Placeholder="请输入密码"></BInput>
        </BFormItem>
        <BFormActionItem>
            <BButton Type="@ButtonType.Primary" IsPlain="true" Style="width:100%;" OnClick="Login">登录</BButton>
        </BFormActionItem>
        <BFormActionItem Style="background-color:#fff;">
            <BButtonGroup>
                <BButton Style="border:none;" Cls="icon iconfont icon-weixin" OnClick="SSOWX"></BButton>
                <BButton Style="border:none;" Cls="icon iconfont icon-QQ" OnClick="SSOQQ"></BButton>
                <BButton Style="border:none;" Cls="icon iconfont icon-github" OnClick="SSOGithub"></BButton>
            </BButtonGroup>
            <BButton Type="@ButtonType.Text" Style="float:right;margin-left:15px;" OnClick="FindPwd">忘记密码？</BButton>
            <BButton Type="@ButtonType.Text" Style="float:right;"OnClick="Regist">立即注册</BButton>

        </BFormActionItem>



    </BForm>
 
</div>

