@layout MainLayout
@page "/user"
@inherits PersonalCenterLayoutBase
<div class="container">
    <ElLayout @ref="bLayout" EnableAlwaysRender="true">
        <West>
            <div style="height:600px;">
                <ElCard Shadow="@ShadowShowType.Never" EnableAlwaysRender="true" @ref="bCard">
                    <Body>
                        <div class="app-user-menu">
                            <ElMenu Mode="@MenuMode.Vertical" DefaultActive="0" @ref="bmenu" EnableAlwaysRender="true" ActiveTextColor="" HoverColor="">
                                @if (personalCenterMenuModels != null)
                                    @foreach (var menu in personalCenterMenuModels)
                                    {
                                        <ElMenuItem Icon="@menu.Icon" Index="@menu.Index.ToString()" Route="@menu.Route" EnableAlwaysRender="true">
                                            @menu.Title
                                        </ElMenuItem>
                                    }
                            </ElMenu>
                        </div>
                    </Body>
                </ElCard>
            </div>
        </West>
        <Center>
            @Body
        </Center>
    </ElLayout>
</div>