@page "/"
@inherits IndexBase
<div class="container">
    <BLayout  EnableAlwaysRender="true" @ref="blayout" EastWidth="350">
        <Center>   
            <BTab TabPosition="@TabPosition.Top" OnActiveTabChanged="ActiveTabChanged" EnableAlwaysRender="true" @ref="btab">
                    @foreach (var item in Tabs)
                    {
                        <MainContent Title="@item.Title" TopicType="@item.Category" EnableAlwaysRender="true"></MainContent>
                    }
                </BTab>
        </Center>
        <East>
            <div class="margin-top-5 content-east">
                <BLayout NorthHeight="30" EnableAlwaysRender="true">
                    <North>
                        <div class="newtopic">
                           <NewTopicAndSearch></NewTopicAndSearch>
                        </div>
                    </North>
                    <Center>
                        <div class="content-card" style="margin-top:14px;">
                            <BCard Shadow="@ShadowShowType.Never">
                                <Body>
                                    <RightTop></RightTop>
                                </Body>
                            </BCard>
                        </div>
                    </Center>
                    <South>
                        <div class="content-card margin-top-10">
                            <BCard Shadow="@ShadowShowType.Never">
                                <Body>
                                    <RightCenter></RightCenter>
                                </Body>
                            </BCard>
                        </div>
                        <div class="content-card margin-top-10">
                            <BCard Shadow="@ShadowShowType.Never">
                                <Body>
                                    <RightBottom></RightBottom>
                                </Body>
                            </BCard>
                        </div>
                    </South>
                </BLayout>
            </div>
        </East>
    </BLayout>
</div>



