@page   "/new"
@inherits NewTopicBase

<div class="content-container">
    <BTab>
        <BTabPanel Title="发表新帖">
            <BForm Inline="false" @ref="form" Value="article" LabelAlign="@LabelAlign.Left">
                <BFormItem TValue="TopicType" Label="类型" IsRequired="true" Name="@nameof(ArticleModel.TopicType)">
                    <div class="el-form-item-custom">
                        <BSelect Value="TopicType.Ask">
                        </BSelect>
                    </div>
                </BFormItem>
                <BFormItem TValue="string" Label="标题" Name="@nameof(ArticleModel.Title)" IsRequired="true">
                    <BInput TValue="string" Style="min-width:500px;max-width:600px;margin-left:-30px;"></BInput>
                </BFormItem>
                <BFormItem TValue="string" IsRequired="true" Name="@nameof(ArticleModel.Content)">
                    <div style="width:90%;">
                        <BMarkdownEditor @ref="bMarkdownEditor" UploadUrl="/api/test/upload" DisableFileUpload="true" DisableImageUpload="true"></BMarkdownEditor>
                    </div>
                </BFormItem>
                <BFormItem TValue="object">
                    <BButton Type="@ButtonType.Primary" OnClick="e=>Submit()">立即发布</BButton>
                </BFormItem>
            </BForm>
        </BTabPanel>
    </BTab>
</div>

