@page   "/new"
@inherits NewTopicBase

<div class="content-container">
    <BTab  EnableAlwaysRender="true">
        <BTabPanel Title="发表新帖">
            <BForm Inline="false" @ref="form" Value="article" LabelAlign="@LabelAlign.Left">

                <div class="form-inline">
                    <BFormItem TValue="TopicType" Label="类型" IsRequired="true" Name="@nameof(ArticleModel.TopicType)">
                        <div class="el-form-item-custom">
                            <BSelect Value="TopicType.Ask">
                            </BSelect>
                        </div>
                    </BFormItem>
                    <BFormItem TValue="ProjectType" Label="项目" IsRequired="true" Name="@nameof(ArticleModel.Project)" Style="margin-left: 20px;">
                        <div class="el-form-item-custom">
                            <BSelect  TValue="ProjectType"Value="ProjectType.Blazui" ValueChanged="e=>OnChange(e)">
                            </BSelect>
                        </div>
                    </BFormItem>
                    <BFormItem TValue="int" Label="版本" IsRequired="true" Name="@nameof(ArticleModel.Project)" Style="margin-left: 20px;">
                        <div class="el-form-item-custom">
                            <BSelect TValue="int" @ref="bverNoSelect">
                                @if (bZVersions != null && bZVersions.Any())
                                {
                                    foreach (var ver in bZVersions)
                                    {
                                        <BSelectOption Value="@ver.Project" Text="@ver.VerNo"></BSelectOption>
                                    }
                                }
                            </BSelect>
                        </div>
                    </BFormItem>
                </div>

                <BFormItem TValue="string" Label="帖子标题" Name="@nameof(ArticleModel.Title)" IsRequired="true">
                    <BInput TValue="string" Style="min-width:500px;max-width:600px;margin-left:-30px;"></BInput>
                </BFormItem>
                <BFormItem TValue="string" IsRequired="true" Name="@nameof(ArticleModel.Content)">
                    <div style="width:90%;">
                        <BMarkdownEditor @ref="bMarkdownEditor" UploadUrl="@UploadTopicFileUrl" DisableFileUpload="true" DisableImageUpload="false" FileMaxSize="300"
                                          ImageMaxSize="300"></BMarkdownEditor>
                    </div>
                </BFormItem>
                <BFormItem TValue="object">
                    <div style="margin-right: 130px;text-align: right;">
                        <BButton Type="@ButtonType.Success" OnClick="e=>Submit()" IsPlain="true" Style="float: left; margin-left:10px;">立即发布</BButton>
                        <div class="go-home" style="float: right;">
                            <BButton Type="@ButtonType.Text" Icon="el-icon-back" Size="@ButtonSize.Medium"></BButton>
                            <BButton Type="@ButtonType.Text" OnClick="e=>GoHome()" IsPlain="true" Size="@ButtonSize.Medium">Go Back</BButton>
                        </div>
                    </div>
                </BFormItem>
            </BForm>
        </BTabPanel>
    </BTab>
</div>

