@inherits ChangePasswordByOldPasswordBase
<BCard EnableAlwaysRender="true">
    <Body>
        <BForm @ref="bformOldpwd" LabelAlign="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true" Style="width: 350px;">
            <BFormItem TValue="string" Label="原密码：" Name="@nameof(PasswordModel.OldPassword)" IsRequired="true">
                <BInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="请输入密码" Style="width:250px;"></BInput>
            </BFormItem>
            <BFormItem TValue="string" Label="新密码：" Name="@nameof(PasswordModel.Password)" IsRequired="true">
                <BInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="请输入密码" Style="width:250px;"></BInput>
            </BFormItem>
            <BFormItem TValue="string" Label="确认密码：" Name="@nameof(PasswordModel.ConfirmPassword)" IsRequired="true">
                <BInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="请输入确认密码" Style="width:250px;"></BInput>
            </BFormItem>
            <BFormActionItem Style=" text-align: right; ">
                <BButton Type="@ButtonType.Default" IsPlain="true" OnClick="e=>ChangePwdByOld()" Style="width:100%;padding-left:10px;padding-right:10px;">确  认</BButton>
            </BFormActionItem>
        </BForm>
    </Body>
</BCard>