@page "/topic/new"
@inherits PageBase

<div class="content-newtopic">
    <ElTabs EnableAlwaysRender="true">
        <ElTabPane Title="New topic">
            <ElForm Inline="false" @ref="form" Model="article" LabelPosition="@LabelAlign.Left">
                <div class="form-inline">
                    <ElFormItem TValue="string" Style="width:500px;" Error="Please enter a title" Label="Title" Prop="@nameof(NewTopicModel.Title)" Required="true">
                        <ElInput Style="margin-left:-40px !important;" TValue="string" Placeholder="Title"></ElInput>
                    </ElFormItem>
                    <ElFormItem TValue="TopicCategory" Style="margin-left:-20px;" Label="Type" Required="true" Prop="@nameof(NewTopicModel.Category)">
                        <div class="el-form-item-custom">
                            <ElSelect Value="TopicCategory.Ask">
                            </ElSelect>
                        </div>
                    </ElFormItem>
                    <ElFormItem TValue="string" Label="Project" Required="true" Style="margin-left:20px;" Error="Select project" Prop="@nameof(NewTopicModel.VerNo)">
                        <div class="el-form-item-custom">
                            <ElSelect TValue="string" @ref="bverNoSelect" @bind-Value="SelectValue">
                                @if (bZVersions != null && bZVersions.Any())
                                {
                                    foreach (var ver in bZVersions)
                                    {
                                        <ElOption Value="@ver.Id" Text="@ver.VerNo"></ElOption>
                                    }
                                }
                            </ElSelect>
                        </div>
                    </ElFormItem>
                    <ElFormItem TValue="bool" Label="Notice" Required="false" Style="margin-left:20px;" Prop="@nameof(NewTopicModel.Notice)">
                        <ElSwitch TValue="bool" ActiveValue="true" InactiveValue="false"></ElSwitch>
                    </ElFormItem>
                </div>
                <ElFormItem TValue="string" Required="true" Prop="@nameof(NewTopicModel.Content)" Error="">
                    <div style="width:99%;">
                        <ElMarkdownEditor @ref="markdownEditor" UploadUrl="@(UploadUrl + UploadPath.Topic.Description())" DisableFileUpload="true" DisableImageUpload="false" Height="480" FileMaxSize="300" ImageMaxSize="ConstConfig.MaxUploadFileSize"></ElMarkdownEditor>
                        <div>
                            <span class="el-tag el-tag--success el-tag--light" style="width:100%">Image max size: @(ConstConfig.MaxUploadFileSize)k</span>
                        </div>
                    </div>
                </ElFormItem>
                <ElFormItem TValue="object">
                    <div style="margin-right:20px;text-align:right;">
                        <ElButton Type="@ButtonType.Success" OnClick="e => Submit()" Plain="true" Style="float:left;">Publish</ElButton>
                        <GoHome Float="@("right")"></GoHome>
                    </div>
                </ElFormItem>
            </ElForm>
        </ElTabPane>
    </ElTabs>
</div>
