@inherits AppHeaderBase
<div class="nav">
    <div class="container">
        <img src="img/logo.svg" width="146" height="38" />
        <div class="fill"></div>
        @if (headerMenus.Any())
        {

            <ul role="menubar" class="el-menu--horizontal el-menu" style="overflow:auto;">

                @foreach (var menu in headerMenus)
                {
                <li role="menuitem" tabindex="0" class="el-menu-item is-active" style="background-color:transparent;color:#fff; border-bottom-color:#fff;">
                    @{
                        var target = @menu.URL=="/"? "_self" : "_blank";
                        <a href="@menu.URL" target=@target>
                            <i class="@menu.Icon"></i>
                            @menu.Title
                        </a>
                    }

                </li>
                }
            </ul>

        }
        <div class="fill"></div>
        <div style="flex:1;margin-left:20px;">
            @if (CurrentUser != null)
            {
                <BDropDown EnableAlwaysRender="true">
                    <Trigger>
                        <BButton Style="border:none;background:transparent;padding:0px;margin:40px auto">
                            <div style="display:flex;">
                                <img src="@CurrentUser?.Avator" class="app-nav-avatar-img" />
                                <span class="el-dropdown-link" style="margin:auto;color:#fff;">
                                    @CurrentUser?.NickName  <i class="el-icon-arrow-down el-icon--right" style="color:#fff;"></i>
                                </span>
                            </div>
                        </BButton>
                    </Trigger>
                    <Items>
                        <BDropDownItem OnClick="e=>Personal()">个人中心</BDropDownItem>
                        <BDropDownItem OnClick="e=>LoginOut()">退出</BDropDownItem>
                    </Items>
                </BDropDown>
            }
            else
            {
                <div>
                    <BButton Type="@ButtonType.Text" OnClick="e=>Login()" Style="color:#fff;">登录/注册</BButton>
                </div>
            }
        </div>
    </div>
</div>