@inherits AppHeaderBase
<div class="nav">
    <div class="container">
        <img src="img/logo.svg" width="146" height="38" />
        <div class="fill"></div>
        @if (headerMenus.Any())
        {
            <BMenu BackgroundColor="transparent" Mode="MenuMode.Horizontal" HoverColor="#409EFF" TextColor="#fff" DefaultActive="0" ActiveTextColor="#fff" EnableAlwaysRender="true">
                @foreach (var menu in headerMenus)
                {
                    <BMenuItem Icon="@menu.Icon" Route="@(string.IsNullOrWhiteSpace(menu.Route)?"/":$"/navigate{menu.Route}")" Style="@($"width:{90/headerMenus.Count}%")">@menu.Title</BMenuItem>
                }
            </BMenu>
        }
        <div class="fill"></div>
        <div style="flex:1;margin-left:20px;">
            @if (CurrentUser != null)
            {
                <BDropDown EnableAlwaysRender="true">
                    <Trigger>
                        <BButton Style="border:none;background:transparent;padding:0px;margin-right: -15px;">
                            <div style="display:flex;">
                                <img src="@CurrentUser?.Avator" class="app-nav-avatar-img" />
                                <span class="el-dropdown-link" style="margin:auto;color:#fff;">
                                    @CurrentUser?.NickName  <i class="el-icon-arrow-down el-icon--right" style="color:#fff;"></i>
                                </span>
                            </div>
                        </BButton>
                    </Trigger>
                    <Items>
                        <BDropDownItem OnClick="e=>GotoUCentor()">个人中心</BDropDownItem>
                        <BDropDownItem OnClick="e=>LoginOut()">退出</BDropDownItem>
                    </Items>
                </BDropDown>
            }
            else
            {
                <div>
                    <BButton Type="@ButtonType.Text" OnClick="e=>NavigateToLogin()" Style="color:#fff;">登录/注册</BButton>
                </div>
            }
        </div>
    </div>
</div>