@using Blazui.Community.Model.Models;
@inherits PersonalInfoBase
@if ( User != null )
{
    <BForm LabelAlign="@LabelAlign.Right" @ref="userInfoForm" Value="User">

        <BFormItem TValue="string" Label="头像" Name="@nameof(BZUserModel.Avatar)" IsHidden="true">
            <BInput TValue="string"></BInput>
        </BFormItem>
        <BFormItem TValue="string" Label="账号" Name="@nameof(BZUserModel.UserName)">
            @if ( true )//账号不允许修改
            {
                @User?.UserName
            }
            else
            {
                <BInput TValue="string"></BInput>
            }

        </BFormItem>
        <BFormItem TValue="string" Label="昵称" Name="@nameof(BZUserModel.NickName)">
            @if ( Disabled )
            {
                @User?.NickName
            }
            else
            {
                <BInput TValue="string"></BInput>
            }
        </BFormItem>

        <BFormItem TValue="string" Label="邮箱" Name="@nameof(BZUserModel.Email)">

            @if ( Disabled )
            {
                @User?.Email
            }
            else
            {
                <BInput TValue="string"></BInput>
            }
        </BFormItem>
        <BFormItem TValue="string" Label="手机" Name="@nameof(BZUserModel.Mobile)">
            @if ( Disabled )
            {
                @User?.Mobile
            }
            else
            {
                <BInput TValue="string"></BInput>
            }
        </BFormItem>
        <BFormItem TValue="int?" Label="性别" Name="@nameof(BZUserModel.Sex)">

            @if ( Disabled )
            {
                <BRadio @bind-SelectedValue="User.Sex" Value="0" StatusChanging="@OnStatusChanging">男</BRadio>
                <BRadio @bind-SelectedValue="User.Sex" Value="1" StatusChanging="@OnStatusChanging">女</BRadio>
            }
            else
            {
                    <BRadio  @bind-SelectedValue="User.Sex"  Value="0">男</BRadio>
                    <BRadio  @bind-SelectedValue="User.Sex"  Value="1">女</BRadio>
            }

        </BFormItem>
        <BFormItem TValue="string" Label="地区" Name="@nameof(BZUserModel.LastLoginAddr)">
            @if ( Disabled )
            {
                @User?.LastLoginAddr
            }
            else
            {
                <BInput TValue="string"></BInput>
            }
        </BFormItem>
        <BFormItem TValue="string" Label="签名" Name="@nameof(BZUserModel.Signature)">
            @if ( Disabled )
            {
                @User?.Signature
            }
            else
            {
                <BInput TValue="string" Type="InputType.Textarea"></BInput>
            }
        </BFormItem>

        <BFormActionItem Style="text-align:right;">
            <div style="margin-right:50px;">

                @if ( Disabled )
                {
                    <BButton Type="@ButtonType.Primary" OnClick=" EditUser" IsCircle="true" Icon="el-icon-edit"></BButton>
                }
                else
                {
                    <BButton Type="@ButtonType.Success" OnClick="SaveUser" IsCircle="true" Icon="el-icon-success"></BButton>
                }
            </div>
        </BFormActionItem>

        <BFormItem TValue="string" Name="@nameof(BZUserModel.Id)" IsHidden="true">
            <BInput TValue="string"></BInput>
        </BFormItem>
    </BForm>

}

