@using Blazui.Community.App.Pages
@layout PersonalCenterLayout
@page "/user/pwd"
@inherits PersonalPasswordBase

<BTab Type="@TabType.Card" @ref="bTab" EnableAlwaysRender="true">
    <BTabPanel Title="@tabTitle" @ref="bTabPanel" EnableAlwaysRender="true">
        <BTab EnableAlwaysRender="true" @ref="Btab">
            <BTabPanel Title="手机验证" EnableAlwaysRender="true" @ref="BTabPanel">
                <BCard EnableAlwaysRender="true" @ref="BCard1">
                    <Body>
                        <BForm @ref="checkChangePwdForm" Value="valueCheckChangePwd" LabelAlign="@LabelAlign.Right" Inline="true" EnableAlwaysRender="true">

                            @if (string.IsNullOrWhiteSpace(valueCheckChangePwd?.Mobile))
                            {
                                <BFormItem TValue="string" Label="">
                                    <div class="app-user-password">
                                        <div>您还没有绑定手机，无法通过手机重置密码，请进入</div>
                                        <div class="mybind">我的绑定</div>
                                        <div>进行绑定</div>
                                    </div>
                                </BFormItem>
                            }
                            else
                            {
                                <BFormItem TValue="string" Label="手机：" Name="@nameof(PasswordModel.Mobile)" IsRequired="false">
                                    <BInput TValue="string" Placeholder="请输入手机号码" IsDisabled="true"></BInput>
                                </BFormItem>
                                <BFormActionItem @ref="bFormActionItemMsg" EnableAlwaysRender="true" Style="text-align-last:right;">
                                    <BButton Type="@ButtonType.Primary" IsPlain="true" OnClick="e=>SendMsg()" @ref="btnSendmsg" IsDisabled="IsDisabled" EnableAlwaysRender="true">
                                        @if (countdown > 0 && countdown < 10)
                                        {
                                            @($"请等待{countdown}s后重试")
                                        }
                                        else
                                        {
                                            @("发送验证码")
                                        }
                                    </BButton>
                                </BFormActionItem>

                                <BFormItem TValue="string" Label="验证码：" Name="@nameof(PasswordModel.VerifyCode)" IsRequired="false">
                                    <BInput TValue="string" Placeholder="请输入验证码"></BInput>
                                </BFormItem>

                                <BFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                                    <BButton Type="@ButtonType.Success" IsPlain="true" OnClick="e=>CheckVerifyCode()">验证</BButton>
                                </BFormActionItem>
                            }
                        </BForm>
                    </Body>
                </BCard>

                <br />

                @* //验证成功后显示*@
                @if (IsCheckBindMobileSuccess)
                {
                    <BCard EnableAlwaysRender="true" @ref="BCard2">
                        <Body>
                            <BForm @ref="changePwdForm" Value="valueChangePwd" LabelAlign="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true">
                                <BFormItem TValue="string" Label="密码：" Name="@nameof(PasswordModel.Password)" IsRequired="true">
                                    <BInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="请输入密码"></BInput>
                                </BFormItem>

                                <BFormItem TValue="string" Label="确认密码：" Name="@nameof(PasswordModel.ConfirmPassword)" IsRequired="true">
                                    <BInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="请输入确认密码"></BInput>
                                </BFormItem>
                                <BFormActionItem Style="text-align-last:right;">
                                    <BButton Type="@ButtonType.Success" IsPlain="true" OnClick="e=>ChangePwd()">确认</BButton>
                                </BFormActionItem>
                            </BForm>
                        </Body>
                    </BCard>
                }
            </BTabPanel>
            <BTabPanel Title="邮箱验证">
                暂未实现
            </BTabPanel>
        </BTab>
    </BTabPanel>
</BTab>


