@using Blazui.Community.App.Pages
@layout PersonalCenterLayout
@page "/user/base"
@using Blazui.Community.Model.Models;
@inherits PersonalInfoBase
<BTab Type="@TabType.Card" @ref="bTab" EnableAlwaysRender="true">
    <BTabPanel Title="@tabTitle" @ref="bTabPanel" EnableAlwaysRender="true">
        @if (User != null)
        {
            <div class="app-user-info">
                <BForm LabelAlign="@LabelAlign.Right" @ref="userInfoForm" Value="User" EnableAlwaysRender="true">

                    <BFormItem TValue="string" Label="账号" Name="@nameof(BZUserModel.UserName)">
                        @User?.UserName
                    </BFormItem>
                    <BFormItem TValue="string" Label="昵称" Name="@nameof(BZUserModel.NickName)" EnableAlwaysRender="true">
                        @if (Disabled)
                        {
                            @User?.NickName
                        }
                        else
                        {
                            <BInput TValue="string" Placeholder="输入昵称" EnableAlwaysRender="true"></BInput>
                        }
                    </BFormItem>

                    <BFormItem TValue="string" Label="邮箱" Name="@nameof(BZUserModel.Email)" EnableAlwaysRender="true">

                        @(string.IsNullOrWhiteSpace(User?.Email) ? "暂未绑定邮箱" : User.Email)

                    </BFormItem>
                    <BFormItem TValue="string" Label="手机" Name="@nameof(BZUserModel.PhoneNumber)" EnableAlwaysRender="true">
                        @(string.IsNullOrWhiteSpace(User?.PhoneNumber) ? "暂未绑定手机" : User.PhoneNumber)
                    </BFormItem>
                    <BFormItem TValue="int?" Label="性别" Name="@nameof(BZUserModel.Sex)" EnableAlwaysRender="true">

                        @if (Disabled)
                        {
                            <BRadio @bind-SelectedValue="User.Sex" Value="0" StatusChanging="@OnStatusChanging">男</BRadio>
                            <BRadio @bind-SelectedValue="User.Sex" Value="1" StatusChanging="@OnStatusChanging">女</BRadio>
                        }
                        else
                        {
                            <BRadio @bind-SelectedValue="User.Sex" Value="0">男</BRadio>
                            <BRadio @bind-SelectedValue="User.Sex" Value="1">女</BRadio>
                        }

                    </BFormItem>
                    @*<BFormItem TValue="string" Label="地区" Name="@nameof(BZUserModel.LastLoginAddr)" EnableAlwaysRender="true">
                            @if (Disabled)
                            {
                                @(User?.LastLoginAddr ?? "未知")
                            }
                            else
                            {
                                <BInput TValue="string" ></BInput>
                            }
                        </BFormItem>*@
                    <BFormItem TValue="string" Label="签名" Name="@nameof(BZUserModel.Signature)" EnableAlwaysRender="true">
                        @if (Disabled)
                        {
                            @(User?.Signature ?? "您还没有设置一个座右铭")
                        }
                        else
                        {
                            <BInput TValue="string" Type="InputType.Textarea" Placeholder="输入座右铭" EnableAlwaysRender="true"></BInput>
                        }
                    </BFormItem>

                    <BFormActionItem Style="text-align:right;" EnableAlwaysRender="true">
                        <div style="margin-right:50px;">

                            @if (Disabled)
                            {
                                <BButton Type="@ButtonType.Primary" OnClick=" EditUser" IsCircle="true" IsPlain="true" Icon="el-icon-edit"></BButton>
                            }
                            else
                            {
                                <BButton Type="@ButtonType.Success" OnClick="SaveUser" IsCircle="true" IsPlain="true" Icon="el-icon-check"></BButton>
                            }
                        </div>
                    </BFormActionItem>

                    <BFormItem TValue="int" Name="@nameof(BZUserModel.Id)" IsHidden="true">
                        <BInput TValue="int"></BInput>
                    </BFormItem>
                </BForm>
            </div>
        }
    </BTabPanel>
</BTab>

