@inherits ReplyItemBase

@if (ReplyModel != null)
{
    <div class="content-reply-base">
        <BCard Shadow="@ShadowShowType.Always" EnableAlwaysRender="true" @ref="bCard">
            <Header>
                <div class="content-topic-head">
                    <div class="content-info">
                        <div class="content-user">
                            <div class="content-user-avator">
                                @if (string.IsNullOrWhiteSpace(ReplyModel.Avator))
                                {
                                    <img class="reply-avator-img" src="/img/defaultAct.png" />
                                }
                                else
                                {
                                    <img class="reply-avator-img" src="@ReplyModel.Avator" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="content-flex-col">
                        <div class="reply-user-name">@ReplyModel.NickName</div>
                        <div class="content-time">
                            @ReplyModel?.LastModifyTime
                        </div>
                    </div>
                    @if (IsSelfReply)
                    {
                        var buttonedit = "color:#67C23A;font-size:25px;";
                        var buttonsave = "color:#909399;font-size:25px;";
                        <div style="position: absolute; right: 17px;">
                            <BButtonGroup>
                                <BButton Icon=@(ShoudEdit?"el-icon-check":"el-icon-edit-outline") Style=@(ShoudEdit?buttonedit:buttonsave) Type="ButtonType.Text" IsPlain="true"  OnClick="EditReply"> </BButton>
                                <BButton Type="ButtonType.Text" Style="color:#F56C6C;font-size:25px;" IsPlain="true" Size="ButtonSize.Default" Icon="el-icon-close" OnClick="DeleteReply"></BButton>
                            </BButtonGroup>
                        </div>
                    }

                </div>
            </Header>
            <Body>
                @if (!ShoudEdit)
                {
                    <BMarkdown Text="@ReplyModel.Content"></BMarkdown>
                }
                else
                {
                    <BMarkdownEditor @bind-Value="@ReplyModel.Content" UploadUrl="@UploadTopicFileUrl" DisableFileUpload="true"
                                     DisableImageUpload="false" ImageMaxSize="300" Height="300"></BMarkdownEditor>
                }
            </Body>
        </BCard>
    </div>
}

