@inherits TopicContentBase

@if (TopicModel != null&&TopicModel.Id>0)
{
    <div class="content-topic-base">
        <BCard Shadow="@ShadowShowType.Always" EnableAlwaysRender="true" @ref="bCard">
            <Header>
                <div class="content-topic-head">
                    <div class="content-info">
                        <div class="content-user">
                            <div class="content-user-avator">
                                @if (string.IsNullOrWhiteSpace(TopicModel.Avator))
                                {
                                    <img class="content-topic-img" src="/img/defaultAct.png" />
                                }
                                else
                                {
                                    <img class="content-topic-img" src="@TopicModel.Avator" />
                                }
                            </div>
                            <div class="content-user-name">@TopicModel.Author</div>
                        </div>
                    </div>
                    <div class="content-flex-col">
                        <div class="content-info-title">

                            @if (TopicModel.Status == 1)
                            {
                                <div class="content-tag">
                                    <span class="el-tag el-tag--info el-tag--small  el-tag--light">已结帖</span>
                                </div>
                            }
                            else
                            {
                                @if (!string.IsNullOrWhiteSpace(TopicModel.Category))
                                {
                                    <div class="content-tag">
                                        <span class="el-tag el-tag--success el-tag--small  el-tag--light">@TopicModel.Category</span>
                                    </div>
                                }
                            }
                        <div class="content-title">
                            <div class="el-badge item" style="margin-top: -5px;">
                                <span> @TopicModel.Title</span>
                                @if (TopicModel.IsBest)
                                {
                                    <sup class="el-badge__content el-badge__content--undefined is-fixed">精华</sup>
                                }
                            </div>
                           
                        </div>
                        </div>
                        <div class="content-time">

                            @TopicModel?.ReleaseTime

                        </div>
                    </div>

                    <div class="content-good">
                        <div style="padding-bottom:10px;">
                            @if (!string.IsNullOrEmpty(projectName))
                            {
                                <span class="el-tag el-tag--success el-tag--light el-tag--mini ">
                                    @projectName
                                </span>
                            }
                        </div>
                     
                        <div class="content-reply">
                            <div class="content-star" @onclick="ToggleStar">
                                @if (IsStar)
                                {
                                    <i class="el-icon-star-on" style=" color:#67C23A;"></i>
                                }
                                else
                                {
                                    <i class="el-icon-star-off"></i>
                                }
                            </div>
                            @if (IsSelf)
                            {
                                var buttonedit = "color:#67C23A;margin-left: 12px;font-size: 25px; margin-top: 4px;";
                                var buttonsave = "color:#909399;margin-left: 12px;font-size: 25px; margin-top: 4px;";

                                <BButton Icon=@(ShoudEdit?"el-icon-check":"el-icon-edit-outline") Style=@(ShoudEdit?buttonedit:buttonsave)
                                         Type="ButtonType.Text" IsPlain="true" Size="ButtonSize.Medium" OnClick="ToggleEditStatus">
                                </BButton>
                            }
                            @if (TopicModel.ReplyCount > 0)
                            {

                                <div class="el-badge item" style="margin-top: 15px;margin-left: 10px">
                                    <i class="el-icon-chat-dot-round" style="color: #909399;font-size: 25px;"></i>
                                    <sup class="el-badge__content el-badge__content--undefined is-fixed">@TopicModel?.ReplyCount</sup>
                                </div>

                            }
                        </div>
                    </div>

                </div>
            </Header>
            <Body>
                @if (!ShoudEdit)
                {

                    <BMarkdown Text="@TopicModel.Content"></BMarkdown>
                }
                else
                {
                    <BMarkdownEditor @bind-Value="@TopicModel.Content" UploadUrl="@UploadTopicFileUrl" DisableFileUpload="true" DisableImageUpload="false" ImageMaxSize="300" Height="300"></BMarkdownEditor>
                }
            </Body>
        </BCard>
    </div>
}
@code {
}
