@using BlazorCommunity.Admin.ViewModel
@inherits AdminCreatePageBase

<div class="login-container">
    <ElForm @ref="form" EnableAlwaysRender="true">
        <div class="title-container">
            <h3 class="title">
                @(IsAdmin ? "注册普通用户":"创建管理员")
            </h3>
        </div>
        <ElFormItem Required="true" TValue="string" Error="请输入账号" Prop="@nameof(AdminLoginInfoModel.Username)">
            <ElInput PrefixIcon="el-icon-user-solid" TValue="string" Placeholder="账号"></ElInput>
        </ElFormItem>
        <ElFormItem Required="true" TValue="string" Error="请输入密码" Prop="@nameof(AdminLoginInfoModel.Password)" EnableAlwaysRender="true">
            <ElInput PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" OnSuffixIconClick="e=>TogglePassword()" Type="@passwordType" TValue="string" Placeholder="密码" EnableClearButton="true"></ElInput>
        </ElFormItem>

        <ElFormActionItem>
            <ElButton Type="@ButtonType.Primary" OnClick="CreateAsync" Style="width:100%;">@(IsAdmin ? "注册" : "创建")</ElButton>
        </ElFormActionItem>
    </ElForm>
</div>