@page   "/topic/new"
@inherits NewTopicBase

    <div class="content-newtopic">
        <ElTabs EnableAlwaysRender="true">
            <ElTabPane Title="тЈЉУАеТќ░тИќ">

                <ElForm Inline="false" @ref="form" Model="article" LabelPosition="left">

                    <div class="form-inline">
                        <ElFormItem TValue="string" Style="width:500px;" Error="У»итАФтєЎТаЄжб? Label="ТаЄжбў" Prop="@nameof(NewTopicModel.Title)" Required="true">
                            <ElInput Style="margin-left:-40px !important;" TValue="string" Placeholder="ТаЄжбў№╝їтдѓТъюТў»ТЈљжЌ«№╝їУ»иТЈЈУ┐░ТИЁТЦџжЌ«жбўуџёСИ╗жб?></ElInput>
                        </ElFormItem>
                        <ElFormItem TValue="TopicCategory" Label="у▒╗тъІ" Required="true" Prop="@nameof(NewTopicModel.Category)">
                            <div class="el-form-item-custom">
                                <ElSelect Value="TopicCategory.Ask">
                                </ElSelect>
                            </div>
                        </ElFormItem>
                        @*<ElFormItem TValue="ProjectType" Label="жА╣уЏ«" Error="У»ижђЅТІЕжА╣уЏ«" Required="false" Prop="@nameof(NewTopicModel.projectType)">
                    <div class="el-form-item-custom">
                        <ElSelect TValue="ProjectType" ValueChanged="e=>OnChange(e)">
                        </ElSelect>
                    </div>
                </ElFormItem>
                <ElFormItem TValue="string" Label="уЅѕТюг" Required="true" Error="У»ижђЅТІЕуЅѕТюг" Prop="@nameof(NewTopicModel.VerNo)" >
                    <div class="el-form-item-custom">
                        <ElSelect TValue="string" @ref="bverNoSelect">
                            @if (bZVersions != null && bZVersions.Any())
                            {
                                foreach (var ver in bZVersions)
                                {
                                    <ElOption Value="@ver.Id" Text="@ver.VerNo"></ElOption>
                                }
                            }
                        </ElSelect>
                    </div>
                </ElFormItem>*@
                        <ElFormItem TValue="bool" Label="жђџуЪЦу«АуљєтЉ? Required="false" Style="margin-left:20px;"
                                   Prop="@nameof(NewTopicModel.Notice)">
                            <ElSwitch TValue="bool" ActiveValue="true" InactiveValue="false"></ElSwitch>
                        </ElFormItem>
                    </div>

                    <ElFormItem TValue="string" Required="true" Prop="@nameof(NewTopicModel.Content)" Error="">
                        <div style="width:99%;">
                            <ElMarkdownEditor @ref="bMarkdownEditor" UploadUrl="@(UploadUrl+ UploadPath.Topic.Description())" DisableFileUpload="true" DisableImageUpload="false" Height="480" FileMaxSize="300" ImageMaxSize="ConstConfig.MaxUploadFileSize"></ElMarkdownEditor>
                            <div>
                                <span class="el-tag el-tag--success el-tag--light" style="width:100%">ТИЕждеТЈљуц║№╝џСИіС╝атЏЙуЅЄ№╝їтЇЋт╝атЏЙуЅЄТюђтцДтЈфтЁЂУ«И@(ConstConfig.MaxUploadFileSize)k№╝їу╗Љт«џQQтљјтЈ»С╗ЦтЈіТЌХТћХтѕ░тЏътцЇжђџуЪЦ</span>
                            </div>
                        </div>
                    </ElFormItem>
                    <ElFormItem TValue="object">
                        <div style="margin-right: 20px;text-align: right;">
                            <ElButton Type="@ButtonType.Success" OnClick="e=>Submit()" Plain="true" Style="float: left; ">уФІтЇ│тЈЉтИЃ</ElButton>
                            <GoHome Float="@("right")"></GoHome>
                        </div>
                    </ElFormItem>
                </ElForm>
            </ElTabPane>
        </ElTabs>

    </div>