@page "/manage/user"
@using BlazorCommunity.Admin.QueryCondition
@using BlazorCommunity.DTO.Admin;
@inherits UserManageBase

<ElForm Inline="true" @ref="searchForm">
    <ElFormItem TValue="string" Label="з”ЁжҲ·еҗ? Prop="@nameof(QueryUserCondition.UserName)" Required="false">
        <ElInput Clearable="true" TValue="string"></ElInput>
    </ElFormItem>
    <ElFormItem TValue="string" Label="жүӢжңә" Prop="@nameof(QueryUserCondition.PhoneNumber)" Required="false">
        <ElInput Clearable="true" TValue="string"></ElInput>
    </ElFormItem>
    <ElFormItem TValue="string" Label="йӮ®з®ұ" Prop="@nameof(QueryUserCondition.Email)" Required="false">
        <ElInput Clearable="true" TValue="string"></ElInput>
    </ElFormItem>
    <ElFormItem TValue="DateTime?" Label="жіЁеҶҢж—¶й—ҙ" Required="false" Prop="@nameof(QueryUserCondition.CreateDateStart)">
        <ElDatePicker Clearable="true"></ElDatePicker>
    </ElFormItem>
    <ElFormItem TValue="DateTime?" Label="иҮ? Required="false" Prop="@nameof(QueryUserCondition.CreateDateEnd)">
        <ElDatePicker Clearable="true"></ElDatePicker>
    </ElFormItem>
    <ElFormActionItem>
        <ElButton Type="@ButtonType.Primary" Plain="true" OnClick="e=>SearchData()">жҗңзҙў</ElButton>
    </ElFormActionItem>
</ElForm>

<div class="el-divider el-divider--horizontal" style="margin: 5px 0;"><!----></div>

<ElTable DataSource="Datas" Total="DataCount" @bind-CurrentPage="CurrentPage" PageSize="pageSize" @ref="table" HasSelectionColumn="false" IsStripe="true" AutoGenerateColumns="false">
    <ElTableColumns>
        <ElTableColumn Width="100" Property="@nameof(UserDisplayDto.UserName)" Text="иҙҰеҸ·" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(UserDisplayDto.Email)" Text="йӮ®з®ұ" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(UserDisplayDto.PhoneNumber)" Text="жүӢжңә" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(UserDisplayDto.NickName)" Text="жҳөз§°" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="50" Property="@nameof(UserDisplayDto.SexDisplay)" Text="жҖ§еҲ«" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="50" Property="@nameof(UserDisplayDto.StatusDisplay)" Text="зҠ¶жҖ? Style="text-align:center;color:red;"></ElTableColumn>
        <ElTableColumn Width="200" Property="@nameof(UserDisplayDto.RoleName)" Text="и§’иүІ" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(UserDisplayDto.CreateDate)" Format="yyyy-MM-dd" Text="жіЁеҶҢж—Ҙжңҹ" Style="text-align:center;"></ElTableColumn>
        <ElTableTemplateColumn Text="ж“ҚдҪң" Width="150">
            <ElButton Type="@ButtonType.Primary" Size="@ButtonSize.Small" Plain="true" OnClick="@(e=> Detail(context))">жҹҘзңӢ</ElButton>
            <ElButton Type="@ButtonType.Success" Size="@ButtonSize.Small" Plain="true" OnClick="@(e=> SetRole(context))">и§’иүІ</ElButton>
            <ElDropdown Style="cursor:pointer;">
                <Trigger>
                    <ElButton Type="@ButtonType.Default" Size="@ButtonSize.Small" Plain="true">ж“ҚдҪң</ElButton>
                </Trigger>
                <Items>
                    @if (context is UserDisplayDto dto)
                        if (dto.Status == 0)
                        {
                            <ElDropdownItem OnClick="@(e => Delete(context))">еҲ йҷӨ</ElDropdownItem>
                        }
                        else
                        {
                            <ElDropdownItem OnClick="@(e => Resume(context))">жҒўеӨҚ</ElDropdownItem>
                        }
                    <ElDropdownItem OnClick="@(e=> ResetPassword(context))">йҮҚзҪ®еҜҶз Ғ</ElDropdownItem>

                </Items>
            </ElDropdown>
        </ElTableTemplateColumn>
    </ElTableColumns>
</ElTable>