<div class="go-home custome-button-hover" style="float:@Float">
    <ElButton Type="@ButtonType.Text" Icon="el-icon-back" Size="@ButtonSize.Large" Style="color:#909399"></ElButton>
    <ElButton Type="@ButtonType.Text" OnClick="@(e=>navigationManager.NavigateTo("/"))" Plain="true" Size="@ButtonSize.Large" Style="color:#909399">Go Back</ElButton>
</div>

@code {

    [Parameter]
    public string Float { get; set; } = "left;";
    [Inject]
    NavigationManager navigationManager { get; set; }
}