@inherits PageBase

<ElCard EnableAlwaysRender="true" @ref="bCard">
    <Body>
        @if (value != null && !string.IsNullOrWhiteSpace(value.Email))
        {
            <ElForm @ref="ElForm" Model="value" LabelPosition="@LabelAlign.Right" Inline="true" EnableAlwaysRender="true">
                <ElFormItem TValue="string" Label="" Prop="@nameof(PasswordModel.Email)" Required="false">
                    <ElButton Type="@ButtonType.Info" Plain="true" Style="border:none" Disabled="true">@($"Bound: {value.Email}")</ElButton>
                </ElFormItem>
                @if (SendCanCelEmailBindCodeSuccess)
                {
                    <ElFormItem TValue="string" Label="Code" Prop="@nameof(PasswordModel.Code)" Required="false">
                        <ElInput TValue="string" Placeholder="Verification code"></ElInput>
                    </ElFormItem>
                    <ElFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                        <ElButton Type="@ButtonType.Default" Disabled="BtnConfirmDisabled" Plain="true" OnClick="e => CanCelBindConfirm()" EnableAlwaysRender="true">
                            Confirm
                        </ElButton>
                    </ElFormActionItem>
                }
                else
                {
                    <ElFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                        <ElButton Type="@ButtonType.Info" Disabled="BtnCancelDisabled" Plain="true" OnClick="e => CanCelBind()" EnableAlwaysRender="true">
                            Unbind
                        </ElButton>
                    </ElFormActionItem>
                }
            </ElForm>
        }
        else
        {
            <ElForm @ref="ElForm" Model="value" LabelPosition="@LabelAlign.Right" Inline="true" EnableAlwaysRender="true">
                <ElFormItem TValue="string" Label="Email" Prop="@nameof(PasswordModel.Email)" Required="true">
                    <ElInput TValue="string" Type="@InputType.Tel" Placeholder="Email address"></ElInput>
                </ElFormItem>
                <ElFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                    <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e => SendEmailMsg()" EnableAlwaysRender="true" Disabled="BtnBindEmailDisabled">
                        @((TimeOut > 0 && TimeOut < CountDownTime) ? $"Wait {TimeOut}s" : "Bind email")
                    </ElButton>
                </ElFormActionItem>
                @if (showInput)
                {
                    <ElFormItem TValue="string" Label="Code" Prop="@nameof(PasswordModel.Code)" Required="false">
                        <ElInput TValue="string" Placeholder="Verification code"></ElInput>
                    </ElFormItem>
                    <ElFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                        <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e => CheckVerifyCode()" EnableAlwaysRender="true">
                            Confirm
                        </ElButton>
                    </ElFormActionItem>
                }
            </ElForm>
        }
    </Body>
</ElCard>
