@inherits PageBase
<ElCard EnableAlwaysRender="true">
    <Body>
        <ElForm @ref="bformOldpwd" LabelPosition="right" Inline="false" EnableAlwaysRender="true" Style="width: 350px;">
            <ElFormItem TValue="string" Label="ňÄčň»ćšáü´╝Ü" Prop="@nameof(PasswordModel.OldPassword)" Required="true">
                <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="Ŕ»ĚŔżôňůąň»ćšá? Style="width:250px;"></ElInput>
            </ElFormItem>
            <ElFormItem TValue="string" Label="Šľ░ň»ćšáü´╝Ü" Prop="@nameof(PasswordModel.Password)" Required="true">
                <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="Ŕ»ĚŔżôňůąň»ćšá? Style="width:250px;"></ElInput>
            </ElFormItem>
            <ElFormItem TValue="string" Label="ší«Ŕ«Ąň»ćšáü´╝? Prop="@nameof(PasswordModel.ConfirmPassword)" Required="true">
                <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="Ŕ»ĚŔżôňůąší«Ŕ«Ąň»ćšá? Style="width:250px;"></ElInput>
            </ElFormItem>
            <ElFormActionItem Style=" text-align: right; ">
                <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e=>ChangePwdByOld()" Style="width:100%;padding-left:10px;padding-right:10px;">ší? Ŕ«</ElButton>
            </ElFormActionItem>
        </ElForm>
    </Body>
</ElCard>