@inherits PageBase

<ElCard EnableAlwaysRender="true">

    <Body>
        @if (CheckverifyCodeSuccess)
        {
        <ElForm @ref="resetPasswordForm" LabelPosition="right" Inline="false" EnableAlwaysRender="true" Style="width: 350px;">
            <ElFormItem TValue="string" Label="ж–°еЇ†з Ѓпјљ" Prop="@nameof(PasswordModel.Password)" Required="true">
                <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="иЇ·иѕ“е…ҐеЇ†з ? Style="width:250px;"></ElInput>
            </ElFormItem>
            <ElFormItem TValue="string" Label="зЎ®и®¤еЇ†з Ѓпј? Prop="@nameof(PasswordModel.ConfirmPassword)" Required="true">
                <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="иЇ·иѕ“е…ҐзЎ®и®¤еЇ†з ? Style="width:250px;"></ElInput>
            </ElFormItem>
            <ElFormActionItem Style=" text-align: right; ">
                <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e=>ReSetPassword()" Style="width:100%;padding-left:10px;padding-right:10px;">зЎ? и®</ElButton>
            </ElFormActionItem>
        </ElForm>
        }
        else
        {
            <ElForm @ref="form" LabelPosition="right" Inline="false" EnableAlwaysRender="true">
                <ElFormItem TValue="string" Label="й‚®з®±пј? Prop="@nameof(PasswordModel.Email)" Required="true" EnableAlwaysRender="true">
                    <div class="content-flex-row">
                        <ElInput TValue="string" Type="@InputType.Text" Placeholder="иЇ·иѕ“е…Ґж‚Ёз»‘е®љзљ„й‚®з®? Style="width:300px;" Disabled="btnInputDisabled" EnableAlwaysRender="true"></ElInput>
                        <ElButton Style="margin-left:20px;" Type="ButtonType.Default" Plain="true" OnClick="e => SendEmail()" Disabled="btnInputDisabled" EnableAlwaysRender="true">@BtnText</ElButton>
                    </div>
                </ElFormItem>
                <ElFormItem TValue="string" Label="йЄЊиЇЃз Ѓпјљ" Prop="@nameof(PasswordModel.Code)" Required="false">
                    <div class="content-flex-row">
                        <ElInput TValue="string" Type="@InputType.Text" Placeholder="иЇ·иѕ“е…ҐйЄЊиЇЃз Ѓ" Style="width:300px;"></ElInput>
                        <ElButton Style=" margin-left: 20px;" Type="ButtonType.Default" Plain="true" OnClick="e=>CheckAndNavigatToReset()">зЎ®е®љ</ElButton>
                    </div>
                </ElFormItem>
            </ElForm>
        }
    </Body>
</ElCard>