@layout PersonalCenterLayout
@page "/user/base"
@inherits PersonalPageBase
<ElTabs Type="@TabType.Card" EnableAlwaysRender="true">
    <ElTabPane Title="@tabTitle" EnableAlwaysRender="true">
        @if (User != null)
        {
            <div class="app-user-info">
                <ElForm LabelPosition="right" @ref="userInfoForm" Model="User" EnableAlwaysRender="true">

                    <div style=" display:flex;">
                        <ElFormItem TValue="string" Label="è´¦هڈ·" Prop="@nameof(BZUserModel.UserName)">
                            @User?.UserName
                        </ElFormItem>
                        <ElFormActionItem Style="text-align:left;margin-left:300px;" EnableAlwaysRender="true">
                            @if (Disabled)
                            {
                                <ElButton Type="@ButtonType.Default" OnClick=" EditUser" Circle="true" Plain="true" Icon="el-icon-edit"></ElButton>
                            }
                            else
                            {
                                <ElButton Type="@ButtonType.Default" OnClick="SaveUser" Circle="true" Plain="true" Icon="el-icon-check"></ElButton>
                            }
                        </ElFormActionItem>
                    </div>

                    <ElFormItem TValue="string" Label="وکµç§°" Prop="@nameof(BZUserModel.NickName)" Style="max-width:300px;" EnableAlwaysRender="true">
                        @if (Disabled)
                        {
                            @User?.NickName
                        }
                        else
                        {
                            <ElInput TValue="string" Placeholder="è¾“ه…¥وکµç§°" EnableAlwaysRender="true"></ElInput>
                        }
                    </ElFormItem>

                    <ElFormItem TValue="string" Label="é‚®ç®±" Prop="@nameof(BZUserModel.Email)">

                        @(string.IsNullOrWhiteSpace(User?.Email) ? "وڑ‚وœھç»‘ه®ڑé‚®ç®±" : User.Email)
                    </ElFormItem>
                    <ElFormItem TValue="string" Label="و‰‹وœ؛" Prop="@nameof(BZUserModel.PhoneNumber)">
                        @(string.IsNullOrWhiteSpace(User?.PhoneNumber) ? "وڑ‚وœھç»‘ه®ڑو‰‹وœ؛" : User.PhoneNumber)
                    </ElFormItem>
                    <ElFormItem TValue="int?" Label="و€§هˆ«" Prop="@nameof(BZUserModel.Sex)" EnableAlwaysRender="true">

                        @if (Disabled)
                        {
                            <ElRadio TValue="object" @bind-SelectedValue="User.Sex" Model="0" StatusChanging="@OnStatusChanging">ç”</ElRadio>
                            <ElRadio TValue="object" @bind-SelectedValue="User.Sex" Model="1" StatusChanging="@OnStatusChanging">ه¥</ElRadio>
                        }
                        else
                        {
                            <ElRadio TValue="object" @bind-SelectedValue="User.Sex" Model="0">ç”</ElRadio>
                            <ElRadio TValue="object" @bind-SelectedValue="User.Sex" Model="1">ه¥</ElRadio>
                        }
                    </ElFormItem>
                    @*<ElFormItem TValue="string" Label="هœ°هŒ؛" Prop="@nameof(BZUserModel.LastLoginAddr)" EnableAlwaysRender="true">
                        @if (Disabled)
                        {
                            @(User?.LastLoginAddr ?? "وœھçں¥")
                        }
                        else
                        {
                            <ElInput TValue="string" ></ElInput>
                        }
                    </ElFormItem>*@
                <ElFormItem TValue="string" Label="ç­¾هگچ" Prop="@nameof(BZUserModel.Signature)" Style="max-width:500px;" EnableAlwaysRender="true">
                    @*@if (Disabled)
        {
            @(User?.Signature ?? "و‚¨è؟کو²،وœ‰è®¾ç½®ن¸€ن¸ھه؛§هڈ³é“­")
        }
        else
        {
            <ElInput TValue="string" Type="@InputType.Textarea" Placeholder="è¾“ه…¥ه؛§هڈ³é“? EnableAlwaysRender="true"></ElInput>
        }*@
                    <div style="margin-top:6px; width:800px;">
                        @if (Disabled)
                        {
                            <ElMarkdown Text="@(string.IsNullOrWhiteSpace(User.Signature) ? "ه†™ç‚¹ن»€ن¹ˆه‘—": User.Signature)"></ElMarkdown>
                        }
                        else
                        {
                            <ElMarkdownEditor @bind-Value="@User.Signature" UploadUrl="@(UploadUrl+ UploadPath.Avator.Description())" DisableFileUpload="true" DisableImageUpload="false" ImageMaxSize="ConstConfig.MaxUploadFileSize" Height="300"></ElMarkdownEditor>
                        }
                    </div>
                    </ElFormItem>

            <ElFormItem TValue="string" Prop="@nameof(BZUserModel.Id)" IsHidden="true">
                <ElInput TValue="string"></ElInput>
            </ElFormItem>
            </ElForm>
            </div>
        }
    </ElTabPane>
</ElTabs>