@page   "/manage/topic"
@using BlazorCommunity.Admin.QueryCondition
@using BlazorCommunity.DTO.Admin;
@inherits TopicManageBase

<ElForm Inline="true" @ref="searchForm">
    <ElFormItem TValue="string" Label="ж Үйўҳ" Prop="@nameof(QueryTopicCondition.Title)" Required="false">
        <ElInput Clearable="true" TValue="string"></ElInput>
    </ElFormItem>
    <ElFormItem TValue="object" Label="дҪңиҖ? Prop="@(nameof(QueryTopicCondition.UserName))" Required="false">
        <ElInput TValue="object"></ElInput>
    </ElFormItem>
    <ElFormItem TValue="DelStatus?" Label="зҠ¶жҖ? Prop="@nameof(QueryTopicCondition.Status)" Required="false">
        <div style="width:100px;"><ElSelect TValue="DelStatus?" Value="DelStatus.Normal"></ElSelect></div>
    </ElFormItem>
    <ElFormItem TValue="TopicCategory?" Label="зұ»еһӢ" Prop="@nameof(QueryTopicCondition.Category)" Required="false">
        <div style="width:100px;"><ElSelect TValue="TopicCategory?"></ElSelect></div>
    </ElFormItem>
    <ElFormItem TValue="DateTime?" Label="еҸ‘её–ж—¶й—ҙ" Required="false" Prop="@nameof(QueryTopicCondition.CreateDateStart)">
        <ElDatePicker Clearable="true"></ElDatePicker>
    </ElFormItem>
    <ElFormItem TValue="DateTime?" Label="иҮ? Required="false" Prop="@nameof(QueryTopicCondition.CreateDateEnd)">
        <ElDatePicker Clearable="true"></ElDatePicker>
    </ElFormItem>
    <ElFormActionItem>
        <ElButton Type="@ButtonType.Primary" Plain="true" OnClick="e=>SearchData()">жҗңзҙў</ElButton>
    </ElFormActionItem>
</ElForm>

<div class="el-divider el-divider--horizontal" style="margin: 5px 0;"><!----></div>

<ElTable DataSource="Datas" Total="DataCount" @bind-CurrentPage="CurrentPage" PageSize="pageSize" @ref="table" HasSelectionColumn="false" IsStripe="true" AutoGenerateColumns="false">
    <ElTableColumns>
        <ElTableColumn Width="100" Property="@nameof(TopicDisplayDto.UserName)" Text="дҪңиҖ? Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(TopicDisplayDto.CategoryDisplay)" Text="зұ»еһӢ" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="400" Property="@nameof(TopicDisplayDto.Title)" Text="ж Үйўҳ" Style="text-align:left;"></ElTableColumn>
        <ElTableColumn Width="400" Property="@nameof(TopicDisplayDto.RoleName)" Text="жқғйҷҗ" Style="text-align:left;"></ElTableColumn>
        <ElTableColumn Width="50" Property="@nameof(TopicDisplayDto.StatusDisplay)" Text="зҠ¶жҖ? Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="50" Property="@nameof(TopicDisplayDto.ReplyCount)" Text="еӣһеӨҚ" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="50" Property="@nameof(TopicDisplayDto.GoodDisplay)" Text="зІҫеҚҺ" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="50" Property="@nameof(TopicDisplayDto.TopDisplay)" Text="зҪ®йЎ¶" Style="text-align:center;"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(TopicDisplayDto.CreateDate)" Format="yyyy-MM-dd" Text="еҸ‘её–ж—¶й—ҙ" Style="text-align:center;"></ElTableColumn>
        <ElTableTemplateColumn Text="ж“ҚдҪң" Width="150">
            <ElButton Type="@ButtonType.Primary" Size="@ButtonSize.Small" Plain="true" OnClick="@(e=> Detail(context))">жҹҘзңӢ</ElButton>

            <ElDropdown Style="cursor:pointer;">
                <Trigger>
                    <ElButton Type="@ButtonType.Default" Size="@ButtonSize.Small" Plain="true">ж“ҚдҪң</ElButton>
                </Trigger>
                <Items>
                    @{

                        if (context is TopicDisplayDto topic)
                        {

                            if (topic.Status == -1)
                            {
                                <ElDropdownItem OnClick="@(e=> Resume(context))">
                                    жҒўеӨҚ
                                </ElDropdownItem>
                            }
                            else
                            {
                                <ElDropdownItem OnClick="@(e=> Top(context))">
                                    @(topic.Top == 0 ? "зҪ®йЎ¶" : "еҸ–ж¶ҲзҪ®йЎ¶")
                                </ElDropdownItem>
                                <ElDropdownItem OnClick="@(e=> Best(context))">
                                    @( topic.Good == 0 ? "еҠ зІҫ" : "еҸ–ж¶ҲеҠ зІҫ")
                                </ElDropdownItem>
                                <ElDropdownItem OnClick="@(e=> End(context))">
                                    @(topic.Status == 1 ? "еҸ–ж¶Ҳз»“иҙҙ" : "з»“иҙҙ")
                                </ElDropdownItem>
                                <ElDropdownItem OnClick="@(e=> Delete(context))">
                                    еҲ йҷӨ
                                </ElDropdownItem>
                            }
                            <ElDropdownItem OnClick="@(e=> SetAuthorize(context))">
                                и®ҫзҪ®жқғйҷҗ
                            </ElDropdownItem>
                        }
                    }
                </Items>
            </ElDropdown>
        </ElTableTemplateColumn>
    </ElTableColumns>
</ElTable>