@inherits BindEmailBase
<ElCard EnableAlwaysRender="true" @ref="bCard">
    <Body>
        @if (value != null && !string.IsNullOrWhiteSpace(value.Email))
        {
        <ElForm @ref="ElForm" Model="value" LabelPosition="right" Inline="true" EnableAlwaysRender="true">
            <ElFormItem TValue="string" Label="" Prop="@nameof(PasswordModel.Email)" Required="false">
                <ElButton Type="ButtonType.Info" Plain="true" Style="border:none" Disabled="true">@($"е·Із»‘е®љпјљ{ value.Email}")</ElButton>
            </ElFormItem>
            @if (SendCanCelEmailBindCodeSuccess)
            {
                <ElFormItem TValue="string" Label="йЄЊиЇЃз Ѓпјљ" Prop="@nameof(PasswordModel.Code)" Required="false">
                    <ElInput TValue="string" Placeholder="иЇ·иѕ“е…ҐйЄЊиЇЃз Ѓ"></ElInput>
                </ElFormItem>
                <ElFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                    <ElButton Type="@ButtonType.Default" Disabled="BtnConfirmDisabled" Plain="true" OnClick="e => CanCelBindConfirm()" EnableAlwaysRender="true">
                        зЎ®е®љ
                    </ElButton>
                </ElFormActionItem>
            }
            else
            {
                <ElFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                    <ElButton Type="@ButtonType.Info" Disabled="BtnCancelDisabled" Plain="true" OnClick="e => CanCelBind()" EnableAlwaysRender="true">
                        еЏ–ж¶€з»‘е®љ
                    </ElButton>
                </ElFormActionItem>
            }

        </ElForm>
        }
        else
        {
            <ElForm @ref="ElForm" Model="value" LabelPosition="right" Inline="true" EnableAlwaysRender="true">
                <ElFormItem TValue="string" Label="й‚®з®±пј? Prop="@nameof(PasswordModel.Email)" Required="true">
                    <ElInput TValue="string" Type="@InputType.Tel" Placeholder="иЇ·иѕ“е…Ґй‚®з®±ењ°еќЂ"></ElInput>
                </ElFormItem>
                <ElFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                    <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e => SendEmailMsg()" EnableAlwaysRender="true" Disabled="BtnBindEmailDisabled">
                        @((TimeOut > 0 && TimeOut < CountDownTime)?$"иЇ·з­‰еѕ…{TimeOut}sеђЋй‡ЌиЇ?:"з»‘е®љй‚®з®±")
                    </ElButton>
                </ElFormActionItem>
                @if (showInput)
                {
                    <ElFormItem TValue="string" Label="йЄЊиЇЃз Ѓпјљ" Prop="@nameof(PasswordModel.Code)" Required="false">
                        <ElInput TValue="string" Placeholder="иЇ·иѕ“е…ҐйЄЊиЇЃз Ѓ"></ElInput>
                    </ElFormItem>
                    <ElFormActionItem EnableAlwaysRender="true" Style="text-align-last:right;">
                        <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e => CheckVerifyCode()" EnableAlwaysRender="true">
                            зЎ®е®љ
                        </ElButton>
                    </ElFormActionItem>
                }
            </ElForm>
        }
    </Body>
</ElCard>