@inherits ChangePasswordByOldPasswordBase
<ElCard EnableAlwaysRender="true">
    <Body>
        <ElForm @ref="bformOldpwd" LabelPosition="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true" Style="width: 350px;">
            <ElFormItem TValue="string" Label="鍘熷瘑鐮侊細" Prop="@nameof(PasswordModel.OldPassword)" Required="true">
                <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="璇疯緭鍏ュ瘑鐮? Style="width:250px;"></ElInput>
            </ElFormItem>
            <ElFormItem TValue="string" Label="鏂板瘑鐮侊細" Prop="@nameof(PasswordModel.Password)" Required="true">
                <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="璇疯緭鍏ュ瘑鐮? Style="width:250px;"></ElInput>
            </ElFormItem>
            <ElFormItem TValue="string" Label="纭瀵嗙爜锛? Prop="@nameof(PasswordModel.ConfirmPassword)" Required="true">
                <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="璇疯緭鍏ョ‘璁ゅ瘑鐮? Style="width:250px;"></ElInput>
            </ElFormItem>
            <ElFormActionItem Style=" text-align: right; ">
                <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e=>ChangePwdByOld()" Style="width:100%;padding-left:10px;padding-right:10px;">纭? 璁</ElButton>
            </ElFormActionItem>
        </ElForm>
    </Body>
</ElCard>