@inherits ChangePasswordByEmailBase

<ElCard EnableAlwaysRender="true">

    <Body>
        @if (NewPasswordFormShow)
        {
            <ElForm @ref="resetPasswordForm" LabelPosition="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true" Style="width: 350px;">
                <ElFormItem TValue="string" Label="鏂板瘑鐮侊細" Prop="@nameof(PasswordModel.Password)" Required="true">
                    <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="璇疯緭鍏ュ瘑鐮? Style="width:250px;"></ElInput>
                </ElFormItem>
                <ElFormItem TValue="string" Label="纭瀵嗙爜锛? Prop="@nameof(PasswordModel.ConfirmPassword)" Required="true">
                    <ElInput TValue="string" PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@InputType.Password" Placeholder="璇疯緭鍏ョ‘璁ゅ瘑鐮? Style="width:250px;"></ElInput>
                </ElFormItem>
                <ElFormActionItem Style=" text-align: right; ">
                    <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e=>ReSetPassword()" Style="width:100%;padding-left:10px;padding-right:10px;">纭? 璁</ElButton>
                </ElFormActionItem>
            </ElForm>
        }
        else
        {
            <ElForm @ref="form" LabelPosition="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true">
                <ElFormItem TValue="string" Label="閭锛? Prop="@nameof(PasswordModel.Email)" Required="true" EnableAlwaysRender="true">
                    <div class="content-flex-row">
                        <ElInput TValue="string" Type="@InputType.Text" Placeholder="璇疯緭鍏ユ偍缁戝畾鐨勯偖绠? Style="width:300px;" Disabled="btnInputDisabled" EnableAlwaysRender="true"></ElInput>
                        <ElButton Style="margin-left:20px;" Type="ButtonType.Default" Plain="true" OnClick="e => SendEmail()" Disabled="btnInputDisabled" EnableAlwaysRender="true">@BtnText</ElButton>
                    </div>
                </ElFormItem>
                <ElFormItem TValue="string" Label="楠岃瘉鐮侊細" Prop="@nameof(PasswordModel.Code)" Required="false">
                    <div class="content-flex-row">
                        <ElInput TValue="string" Type="@InputType.Text" Placeholder="璇疯緭鍏ラ獙璇佺爜" Style="width:300px;"></ElInput>
                        <ElButton Style=" margin-left: 20px;" Type="ButtonType.Default" Plain="true" OnClick="e=>CheckAndNavigatToReset()">纭畾</ElButton>
                    </div>
                </ElFormItem>
            </ElForm>
        }
    </Body>
</ElCard>