@inherits PersonalTopicPublishedBase

<BForm Inline="true" @ref="searchForm">
    <BFormItem TValue="string" Label="标题" Name="@nameof(SearchPersonalTopicCondition.Title)" IsRequired="false">
        <BInput IsClearable="true" TValue="string" Placeholder="输入帖子标题" Style="width:300px;"></BInput>
    </BFormItem>
    <BFormItem TValue="TopicCategory?" Label="类型" IsRequired="false" Name="@nameof(SearchPersonalTopicCondition.Category)">
        <BSelect @bind-Value="Category">
        </BSelect>
    </BFormItem>
    <BFormActionItem>
        <BButton Type="@ButtonType.Default" IsPlain="true" OnClick="e=>SearchData()">搜索</BButton>
    </BFormActionItem>
</BForm>
<div class="el-divider el-divider--horizontal" style="margin: 5px 0;"><!----></div>
<BTable DataSource="Datas" Total="DataCount" @bind-CurrentPage="CurrentPage" PageSize="pageSize" @ref="table" HasSelectionColumn="false" IsStripe="true" AutoGenerateColumns="false">
    <BTableColumns>
        <BTableColumn Width="400" Property="@nameof(PersonalTopicDisplayDto.Title)" Text="标题" >
            <span style="float:left;" @onclick="e=> LinktoTopic(context)">@(((PersonalTopicDisplayDto)context).Title)</span>
        </BTableColumn>
        <BTableColumn Width="100" Format="yyyy-MM-dd" Property="@nameof(PersonalTopicDisplayDto.CreateDate)" Text="发帖时间"></BTableColumn>
        <BTableColumn Width="100" Property="@nameof(PersonalTopicDisplayDto.StatusDisplay)" Text="状态"></BTableColumn>
        <BTableColumn Width="100" Property="@nameof(PersonalTopicDisplayDto.CategoryDisplay)" Text="类型"></BTableColumn>
        <BTableColumn Width="100" Property="@nameof(PersonalTopicDisplayDto.GoodDisplay)" Text="精华"></BTableColumn>
        <BTableColumn Width="100" Property="@nameof(PersonalTopicDisplayDto.ReplyCount)" Text="回帖数"></BTableColumn>
        <BTableTemplateColumn Text="操作" Width="100">

            <BButton Type="@ButtonType.Danger" Size="@ButtonSize.Mini" Style="border-color:transparent !important" IsPlain="true" IsCircle="true" Icon="el-icon-remove-outline" OnClick="@(e=> Del(context))"></BButton>
            <BButton Type="@ButtonType.Success" Size="@ButtonSize.Mini" Style="border-color:transparent !important" IsPlain="true" IsCircle="true" Icon="el-icon-link" OnClick="@(e=> LinktoTopic(context))"></BButton>
        </BTableTemplateColumn>
    </BTableColumns>
</BTable>