@inherits PersonalTopicPublishedBase

<ElForm Inline="true" @ref="searchForm">
    <ElFormItem TValue="string" Label="标题" Prop="@nameof(SearchPersonalTopicCondition.Title)" Required="false">
        <ElInput Clearable="true" TValue="string" Placeholder="输入帖子标题" Style="width:300px;"></ElInput>
    </ElFormItem>
    <ElFormItem TValue="TopicCategory?" Label="类型" Required="false" Prop="@nameof(SearchPersonalTopicCondition.Category)">
        <ElSelect @bind-Value="Category">
        </ElSelect>
    </ElFormItem>
    <ElFormActionItem>
        <ElButton Type="@ButtonType.Default" Plain="true" OnClick="e=>SearchData()">搜索</ElButton>
    </ElFormActionItem>
</ElForm>
<div class="el-divider el-divider--horizontal" style="margin: 5px 0;"><!----></div>
<ElTable DataSource="Datas" Total="DataCount" @bind-CurrentPage="CurrentPage" PageSize="pageSize" @ref="table" HasSelectionColumn="false" IsStripe="true" AutoGenerateColumns="false">
    <ElTableColumns>
        <ElTableColumn Width="400" Property="@nameof(PersonalTopicDisplayDto.Title)" Text="标题" >
            <span style="float:left;" @onclick="e=> LinktoTopic(context)">@(((PersonalTopicDisplayDto)context).Title)</span>
        </ElTableColumn>
        <ElTableColumn Width="100" Format="yyyy-MM-dd" Property="@nameof(PersonalTopicDisplayDto.CreateDate)" Text="发帖时间"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(PersonalTopicDisplayDto.StatusDisplay)" Text="状态"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(PersonalTopicDisplayDto.CategoryDisplay)" Text="类型"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(PersonalTopicDisplayDto.GoodDisplay)" Text="精华"></ElTableColumn>
        <ElTableColumn Width="100" Property="@nameof(PersonalTopicDisplayDto.ReplyCount)" Text="回帖数"></ElTableColumn>
        <ElTableTemplateColumn Text="操作" Width="100">

            <ElButton Type="@ButtonType.Danger" Size="@ButtonSize.Small" Style="border-color:transparent !important" Plain="true" Circle="true" Icon="el-icon-remove-outline" OnClick="@(e=> Del(context))"></ElButton>
            <ElButton Type="@ButtonType.Success" Size="@ButtonSize.Small" Style="border-color:transparent !important" Plain="true" Circle="true" Icon="el-icon-link" OnClick="@(e=> LinktoTopic(context))"></ElButton>
        </ElTableTemplateColumn>
    </ElTableColumns>
</ElTable>