@page "/account/forget"
@inherits PageBase

<div class="el-center-500">

    <ElCard EnableAlwaysRender="true">
        <Header>
            <GoBack Title="жфїУ»Ђжѓ«у«▒" Route="@PreviousRoute"></GoBack>
        </Header>
        <Body>
            <ElForm @ref="form" LabelPosition="right" Inline="false" EnableAlwaysRender="true" Style="max-width: 600px; min-width: 400px; margin: 20px auto;text-align: center;">
                <ElFormItem TValue="string" Label="жѓ«у«▒№╝? Prop="@nameof(PasswordModel.Email)" Required="true" EnableAlwaysRender="true">
                    <div class="content-flex-row">
                        <ElInput TValue="string" Type="@InputType.Text" Placeholder="У»иУЙЊтЁЦТѓеу╗Љт«џуџёжѓ«у«? Style="width:300px;" Disabled="btnSendIsDisabled" EnableAlwaysRender="true"></ElInput>
                        <ElButton Style="margin-left:20px;" Type="ButtonType.Default" Plain="true" OnClick="e => SendEmail()" Disabled="btnSendIsDisabled" EnableAlwaysRender="true">@BtnText</ElButton>
                    </div>
                </ElFormItem>
                <ElFormItem TValue="string" Label="жфїУ»ЂуаЂ№╝џ" Prop="@nameof(PasswordModel.Code)" Required="false">
                    <div class="content-flex-row">
                        <ElInput TValue="string" Type="@InputType.Text" Placeholder="У»иУЙЊтЁЦжфїУ»ЂуаЂ" Style="width:300px;"></ElInput>
                        <ElButton Style=" margin-left: 20px;" Type="ButtonType.Default" Plain="true" OnClick="e=>CheckAndNavigatToReset()">уА«т«џ</ElButton>
                    </div>
                </ElFormItem>
            </ElForm>
        </Body>
    </ElCard>
</div>