@inherits ElementComponentBase
@if (Topic != null)
{
    <ElLayout WestWidth="90" Height="78" EnableAlwaysRender="true">
        <West>
            <ElCard Shadow="@ShadowShowType.Always" Style="text-align: center;" EnableAlwaysRender="true">
                <Body>
                    @if (string.IsNullOrWhiteSpace(Topic.Avator))
                    {
                        <img class="app-topic-img" src="/img/defaultAct.png" />
                    }
                    else
                    {
                        <img class="app-topic-img" src="@Topic.Avator" />
                    }
                </Body>
            </ElCard>
        </West>
        <Center>
            <ElCard Shadow="@ShadowShowType.Never" EnableAlwaysRender="true">
                <Body>
                    <div class="topic-wrap">
                        <div class="topic-item">
                            <div class="topic-type">
                                @if (Topic.Status == 1)
                                {
                                    <span class="el-tag el-tag--info el-tag--mini el-tag--light">е·Із»“её?/span>
                                }
                                else
                                {
                                    @if (!string.IsNullOrWhiteSpace(Topic.CategoryDisplay))
                                    {
                                        <span class="el-tag el-tag--success el-tag--mini el-tag--light">@Topic.CategoryDisplay</span>
                                    }
                                }
                            </div>
                            <div class="topic-title"><ElButton Type="ButtonType.Text" Style="color:#000033" OnClick="e=>NavigationToReply(Topic?.Id)">@Topic?.Title</ElButton></div>
                            <div class="topic-tag">
                                @if (Topic.Good == 1)
                                {
                                    <span class="el-tag el-tag--danger el-tag--mini el-tag--dark">зІѕеЌЋ</span>
                                }
                            </div>
                        </div>
                        <div class="topic-item">
                            <div class="topic-author" title="дЅњиЂ?>@Topic?.NickName</div>
                            <div class="topic-time" title="жњЂеђЋдї®ж”№ж—¶й—?>@Topic?.LastModifyDateDisplay</div>
                            @if (Topic.ReplyCount > 0)
                            {
                                <div class="topic-reply" title="е›ће¤Ќй‡?>
                                    <div>
                                        <i class="el-icon-chat-dot-square" style="color:#909399;font-size:16px;"></i>
                                        <span style="margin-left:0px;color: #909399;">@Topic?.ReplyCount</span>
                                    </div>
                                </div>
                            }
                            @if (Topic.Hot > 0)
                            {
                                <div class="topic-hot" title="жµЏи§€й‡?>
                                    <i class="el-icon-view" style="color: #909399;font-size:16px;"></i>
                                    <span style="margin-left:0px;color: #909399;">@Topic.Hot</span>
                                </div>
                            }
                        </div>
                    </div>
                </Body>
            </ElCard>
        </Center>
    </ElLayout>
}