@page "/account/forget"
@inherits ForgetPasswordBase

<div class="el-center-500">

    <ElCard EnableAlwaysRender="true">
        <Header>
            <GoBack Title="楠岃瘉閭" Route="@PreviousRoute"></GoBack>
        </Header>
        <Body>
            <ElForm @ref="form" LabelPosition="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true" Style="max-width: 600px; min-width: 400px; margin: 20px auto;text-align: center;">
                <ElFormItem TValue="string" Label="閭锛? Prop="@nameof(PasswordModel.Email)" Required="true" EnableAlwaysRender="true">
                    <div class="content-flex-row">
                        <ElInput TValue="string" Type="@InputType.Text" Placeholder="璇疯緭鍏ユ偍缁戝畾鐨勯偖绠? Style="width:300px;" Disabled="btnSendIsDisabled" EnableAlwaysRender="true"></ElInput>
                        <ElButton Style="margin-left:20px;" Type="ButtonType.Default" Plain="true" OnClick="e => SendEmail()" Disabled="btnSendIsDisabled" EnableAlwaysRender="true">@BtnText</ElButton>
                    </div>
                </ElFormItem>
                <ElFormItem TValue="string" Label="楠岃瘉鐮侊細" Prop="@nameof(PasswordModel.Code)" Required="false">
                    <div class="content-flex-row">
                        <ElInput TValue="string" Type="@InputType.Text" Placeholder="璇疯緭鍏ラ獙璇佺爜" Style="width:300px;"></ElInput>
                        <ElButton Style=" margin-left: 20px;" Type="ButtonType.Default" Plain="true" OnClick="e=>CheckAndNavigatToReset()">纭畾</ElButton>
                    </div>
                </ElFormItem>
            </ElForm>
        </Body>
    </ElCard>
</div>