@page "/account/register"
@inherits RegisterBase
<div class="login-container">
    <ElForm @ref="registerForm" Model="Value" EnableAlwaysRender="true">
        <div class="title-container" style="text-align:center;">
            <h3 class="title">
                Element-Blazor社区注册
            </h3>
        </div>
        <ElFormItem TValue="string" Label="账号" Prop="@nameof(RegisterAccountDto.UserAccount)" Required="true">
            <ElInput TValue="string" Placeholder="请输入账号"></ElInput>
        </ElFormItem>

        @*<ElFormItem TValue="string" Label="手机号码" Prop="@nameof(RegisterAccountModel.Mobile)" Required="true">
            <ElInput TValue="string"></ElInput>
            <ElButton Style="float:right;margin-top:10px;" Type="@ButtonType.Info" Plain="true" Icon="el-icon-message"> 发送验证码</ElButton>
        </ElFormItem>
        <ElFormItem TValue="string" Label="验证码" Prop="@nameof(RegisterAccountModel.VerifyCode)" Required="true">
            <ElInput TValue="string"></ElInput>
        </ElFormItem>*@
        <ElFormItem TValue="string" Label="密码" Prop="@nameof(RegisterAccountDto.Password)" Required="true" EnableAlwaysRender="true">
            <ElInput PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@passwordType" TValue="string" Placeholder="请输入密码" OnSuffixIconClick="e=>TogglePassword()"></ElInput>
        </ElFormItem>
        <ElFormItem TValue="string" Label="确认密码" Prop="@nameof(RegisterAccountDto.ConfirmPassword)" Required="true" EnableAlwaysRender="true">
            <ElInput PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@ConfirmPasswordType" TValue="string" Placeholder="请输入确认密码" OnSuffixIconClick="e=>ToggleConfirmPassword()"></ElInput>
        </ElFormItem>
        <div role="alert" class="el-alert el-alert--success is-center is-light" style="margin-bottom: 10px;padding:8px 1px;">
            <div class="el-alert__content">
                <span class="el-alert__title">
                    为快速响应你的问题，并及时通知，请绑定有效的联系方式
                </span>
            </div>
        </div>
        
        <ElFormItem TValue="string" Label="Q Q" Prop="@nameof(RegisterAccountDto.QQ)" Required="false">
            <ElInput TValue="string" Placeholder="请输入QQ"></ElInput>
        </ElFormItem>
        <ElFormItem TValue="string" Label="邮箱" Prop="@nameof(RegisterAccountDto.Email)" Required="false">
            <ElInput TValue="string" Placeholder="请输入邮箱"></ElInput>
        </ElFormItem>
     
        <ElFormActionItem>
            <ElButton Type="@ButtonType.Default" OnClick="e=>RegisterUser()" Plain="true" Style="width:100%">立即注册</ElButton>
        </ElFormActionItem>
    </ElForm>
</div>