@page "/account/reset/{UserId}"
@inherits ResetPasswordBase

<div class="el-center-500">

    <ElCard EnableAlwaysRender="true">
        <Header>
            <GoBack Title="璁剧疆鏂板瘑鐮? Route="@PreviousRoute"></GoBack>
        </Header>
        <Body>
            <ElForm @ref="form" LabelPosition="@LabelAlign.Right" Inline="false" EnableAlwaysRender="true" Style="width: 400px; margin: 20px auto;text-align: center;">
                <ElFormItem TValue="string" Label="瀵嗙爜锛? Prop="@nameof(PasswordModel.Password)" Required="true">
                    <ElInput TValue="string" Type="@InputType.Password" Placeholder="璇疯緭鍏ユ柊瀵嗙爜" Style="width:300px;"></ElInput>
                </ElFormItem>
                <ElFormItem TValue="string" Label="纭瀵嗙爜锛? Prop="@nameof(PasswordModel.ConfirmPassword)" Required="true">
                    <ElInput TValue="string" Type="@InputType.Password" Placeholder="璇峰啀娆¤緭鍏ユ柊瀵嗙爜" Style="width:300px;"></ElInput>
                </ElFormItem>
                <ElFormActionItem Style="text-align:center;">
                    <ElButton Type="ButtonType.Default" OnClick="e=>ResetPassword()" Plain="true" Style="width:300px;margin-left: 100px;">纭畾</ElButton>
                </ElFormActionItem>
            </ElForm>
        </Body>
    </ElCard>
</div>