@page "/account/reset/{UserId}"
@inherits ResetPasswordBase

<div class="el-center-500">

    <ElCard EnableAlwaysRender="true">
        <Header>
            <GoBack Title="и®ѕзЅ®ж–°еЇ†з ? Route="@PreviousRoute"></GoBack>
        </Header>
        <Body>
            <ElForm @ref="form" LabelPosition="right" Inline="false" EnableAlwaysRender="true" Style="width: 400px; margin: 20px auto;text-align: center;">
                <ElFormItem TValue="string" Label="еЇ†з Ѓпј? Prop="@nameof(PasswordModel.Password)" Required="true">
                    <ElInput TValue="string" Type="@InputType.Password" Placeholder="иЇ·иѕ“е…Ґж–°еЇ†з Ѓ" Style="width:300px;"></ElInput>
                </ElFormItem>
                <ElFormItem TValue="string" Label="зЎ®и®¤еЇ†з Ѓпј? Prop="@nameof(PasswordModel.ConfirmPassword)" Required="true">
                    <ElInput TValue="string" Type="@InputType.Password" Placeholder="иЇ·е†Ќж¬Ўиѕ“е…Ґж–°еЇ†з Ѓ" Style="width:300px;"></ElInput>
                </ElFormItem>
                <ElFormActionItem Style="text-align:center;">
                    <ElButton Type="ButtonType.Default" OnClick="e=>ResetPassword()" Plain="true" Style="width:300px;margin-left: 100px;">зЎ®е®љ</ElButton>
                </ElFormActionItem>
            </ElForm>
        </Body>
    </ElCard>
</div>