@page "/account/signin"
@inherits SignInBase

<div class="login-container">

    <ElForm Model="signInModel" @ref="signInForm" EnableAlwaysRender="true" LabelPosition="left">
        <div class="title-container">
            <h3 class="title">
                Element-BlazorзӨҫеҢәзҷ»еҪ•
            </h3>
        </div>
        <ElFormItem Required="true" TValue="string" Error="иҜ·иҫ“е…ҘиҙҰеҸ·жҲ–йӮ®з®ұ" Prop="@nameof(SignInModel.UserAccount)">
            <ElInput PrefixIcon="el-icon-user-solid" TValue="string" Placeholder="иҜ·иҫ“е…ҘиҙҰеҸ·жҲ–йӮ®з®ұ"></ElInput>
        </ElFormItem>
        <ElFormItem Required="true" TValue="string" Error="иҜ·иҫ“е…ҘеҜҶз ? Prop="@nameof(SignInModel.Password)" EnableAlwaysRender="true">
            <ElInput PrefixIcon="el-icon-lock" SuffixIcon="el-icon-view" Type="@passwordType" TValue="string" Placeholder="иҜ·иҫ“е…ҘеҜҶз ? OnSuffixIconClick="e=>TogglePassword()"></ElInput>
        </ElFormItem>
        <ElFormActionItem>
            <ElButton Type="@ButtonType.Default" Plain="true" Style="width:100%;" OnClick="Login">зҷ»еҪ•</ElButton>
        </ElFormActionItem>
        <ElFormActionItem Style="background-color:#fff;">
            @*<ElButtonGroup>
                    <ElButton Type="@ButtonType.Default" Style="border:none;" Cls="icon iconfont icon-weixin" Plain="true" OnClick="SSOWX"></ElButton>
                    <ElButton Type="@ButtonType.Default" Style="border:none;" Cls="icon iconfont icon-QQ" Plain="true" OnClick="SSOQQ"></ElButton>
                    <ElButton Type="@ButtonType.Default" Style="border:none;" Cls="icon iconfont icon-github" Plain="true" OnClick="SSOGithub"></ElButton>
                </ElButtonGroup>*@
            <ElButton Type="@ButtonType.Text" Style="float:right;margin-left:15px; " OnClick="ForgetPwd">еҝҳи®°еҜҶз Ғпј</ElButton>
            <ElButton Type="@ButtonType.Text" Style="float:right; " OnClick="Regist">з«ӢеҚіжіЁеҶҢ</ElButton>
        </ElFormActionItem>
    </ElForm>
</div>